# Copyright 2016-2018 Amazon.com, Inc. or its affiliates. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"). You
# may not use this file except in compliance with the License. A copy of
# the License is located at
#
#     http://aws.amazon.com/apache2.0/
#
#
# or in the "license" file accompanying this file. This file is
# distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
# ANY KIND, either express or implied. See the License for the specific
# language governing permissions and limitations under the License.

--- !ec2rlcore.module.Module
# Module document. Translates directly into an almost-complete Module object
name: !!str kerberosconfig
path: !!str
version: !!str 1.0
title: !!str Gather the Kerberos configuration file
helptext: !!str |
  Gather the Kerberos configuration file, /etc/krb5.conf
placement: !!str run
package:
  - !!str
language: !!str bash
content: !!str |
  #!/bin/bash
  error_trap()
  {
      printf "%0.s=" {1..80}
      echo -e "\nERROR:	"$BASH_COMMAND" exited with an error on line ${BASH_LINENO[0]}"
      exit 0
  }
  trap error_trap ERR

  MODULE_NAME=kerberosconfig
  FILE_PATH=/etc/krb5.conf
  FILE_NAME=krb5.conf

  echo "I will gather ${FILE_PATH} from this machine"

  if [[ -r ${FILE_PATH} ]]; then
      mkdir $EC2RL_GATHEREDDIR/${MODULE_NAME}
      cp "${FILE_PATH}" "${EC2RL_GATHEREDDIR}/${MODULE_NAME}" || true
      echo "I have copied ${FILE_PATH} to ${EC2RL_GATHEREDDIR}/${FILE_NAME}"
  else
      echo "No Kerberos configuration file available or permission denied"
  fi
constraint:
  requires_ec2: !!str False
  domain: !!str os
  class: !!str gather
  distro: !!str alami alami2 ubuntu rhel suse
  required: !!str
  optional: !!str
  software: !!str
  sudo: !!str False
  perfimpact: !!str False
  parallelexclusive: !!str
